<!DOCTYPE HTML>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="static/style.css" media="all"></style>
        <title></title>
    </head>
    <body>

        <div id="wrapper">

            <div id="top_background">
            </div>

            <div id="top">
                <div id="bordure_top">
                </div>

                <div id="bordure_right">
                </div>

                <div id="bordure_bottom">
                </div>

                <div id="photo">
                </div>

                <div id="top_title">Club vélo de l'INSA</div>

                <ul id="menu">
                    <li><a href="./">Vélos dispo</a></li>
                    <li><a href="./horaires">Horaires</a></li>
                    <li><a href="./contact">Nous contacter</a></li>
                    <li><a href="./admin">Administration</a></li>
                </ul>

                <div id="bottom">
                </div>
            </div>

            <div id="centre">
                <div id="ombre_degrade"></div>
                <div id="ombre_repete"></div>
                <div id="bordure_centre_bas"></div>

                <div id="contenu">
                    {% block contenu %}

                    <h1>
                        Le club vélo c'est quoi ?
                    </h1>

                        <p>
                            Le club vélo te permet de louer des vélos à l'année ou 
                            au semestre (10 euros le semestre). Les vélos sont loué
                            avec un cadena.Tu peux aussi venir réparer ton vélo pour 
                            profiter des outils du club et obtenir de l'aide.
                        </p>

                    <h1>
                        Les vélos disponibles
                    </h1>

                    {% for velo in velos %}
                    <a href="{{velo.photo.url}}"><img width="150" height="150" src="{{velo.photo_miniature.url}}" alt="velo" /></a> 
                    {% endfor %}

                    {% endblock %}

                </div>
            </div>

            <div id="bottom_background"></div>
        </div>
    </body>

</html>
